html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Montserrat regular';
	vertical-align: baseline;
}

#wrapper{
  background-color: rgba(211, 211, 211, 0.14);
  height: auto;
  width: 900px;
  padding: 10%;
}

@font-face {
  font-family: 'Montserrat regular';
  src: url("Montserrat-Regular.ttf");
}

#search {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -4%;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0px 5px 5px 0px grey;
}

input[type="text"] {
  margin: 20px;
  height: 40px;
  width: 400px;
  background-color: rgba(211, 211, 211, 0.14);
}

.button {
  border-radius: 4px;
  height: 40px;
  width: 80px;
  background-color: #03A9F4;
  color: white;
}

.result_count {
  display: inline;
  margin-left: 8%;

}

.gender_selection {
  display: inline;
  margin-left: 500px;
}

#no_results {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 5px 0px grey;
}

#no_results img {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 50px;
}

#no_results h3 {
  text-align: center;
  margin-bottom: 50px;
}

#results {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 5px 0px grey;
}

.results {
  margin: 20px;
}

.results h4 {
  color: black;
}

.results p {
  color: grey;
}
